@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Inciar sesion - Shopo";
    Layout = "_AdminlteNetcoreLogin";
}

<div class="login-box">
    <div class="login-logo">
        <a href="@netcore.MVC.Pages.HomeIndex.Url"><b>Shopo</b>.NET</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">correo: super@admin.com | contra: 123456</p>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="form-group has-feedback">
                <label asp-for="Email">Correo Electronico</label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Correo Electronico" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <label asp-for="Password">Contraseña</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Contraseña" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="RememberMe">  @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Ingresar</button>
                </div>
                <!-- /.col -->
            </div>
            <div class="social-auth-links text-center">
                <p>- O -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i> Ingresa usando
                    Facebook
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i> Ingresa usando
                    Google
                </a>
            </div>
            <!-- /.social-auth-links -->
            <a asp-action="ForgotPassword">Olvide mi contraseña</a><br>
            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text-center">Registrate</a>
        </form>


    </div>
    <!-- /.login-box-body -->
</div>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
}
